/* default.css
    CSS file, inspired by iWeb Darkroom theme
    (c) Joaquin Javier Esteban Martinez
    last update: 2017-12-14
*/

html {
    height: 100%;
}

body {
    height: 100%;
    background: darkgray/*#FFF url('../images/background_browser.jpg') repeat scroll left top*/;
    margin: 0;
    padding: 0;
}

/* container */

#container {
    position: relative;
    width: 1024px;
    height: 768px;
    border: none;
    margin: 0 auto;
    padding: 0;
}


/* content */
/*
#content {
    position: absolute;
    width: 768px;
    height: 768px;
    left: 0px;
    top: 0;    
    background: rgb(255, 255, 255) url('../images/background_content.jpg') repeat scroll top left;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;    
}
*/

/* header */

header {
    position: absolute;
    width: 1024px;
    height: 50px;
    left: 0;
    top: 0;
    border: none;
    border-radius: 10px;
    background-color: green;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header h1 {
    color: #FFF;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 63px /*32px*/;
    margin: 0px;
    opacity: 1;
    padding-bottom: 0px;
    padding-top: 0px;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
    word-wrap: break-word;
}

header h2 {
    padding-bottom: 0pt;
    padding-top: 0pt;
    color: #CBCBCB;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 21px;
    margin: 0px;
    opacity: 1;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    word-wrap: break-word;
}

#login {
    position: absolute;
    width: 341px;
    top: 0;
    left: 0;
}

#title {
    position: absolute;
    width: 341px;
    top: 0;
    left: 342px;
}


/* navigation bar */

nav {
    position: absolute;
    width: 1024px;
    height: 37px;
    top: 50px;
    left: 0;
    /*border: none;*/
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0;
    margin-left: 0px;
    /*margin-top: 19px;*/
    opacity: 1;
    word-wrap: break-word;
    text-align: left;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-size: .7em;
	color: #C1C1C1;
	line-height: 25px;
	text-align: center;
	/*background-image: url('../images/nav_background.png');*/
	/*_background-image: url(images/nav_background.jpg); */
	background-repeat: repeat-y;
	/*border-top: 1px solid #999;
	border-bottom: 1px solid #999;*/
}

nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px 10px 0px 10px;
}

nav li {
	display: inline; 
	list-style-type: none;
	margin: 0px;
	padding: 0px 10px 0px 10px;
}

nav .noncurrent-page  a:visited { /* HOWTO .noncurrent-page & .current-page */
	text-decoration: none;
	color: #C1C1C1;
	text-shadow: 0px -1px 2px #333;
}

nav .noncurrent-page  a {
	text-decoration: none;
	color: #C1C1C1;
	text-shadow: 0px -1px 2px #333;
}

nav .noncurrent-page a:hover {
	text-decoration: none;
	color: #EC001E;
	text-shadow: 0px -1px 2px #333;
}

nav .current-page a
{
	text-decoration: none;
	color: #000;
	text-shadow: 0px -1px 2px #7E7E7E;
}

nav .current-page a:visited
{
	text-decoration: none;
	color: #000;
	text-shadow: 0px -1px 2px #7E7E7E;
}


/* section (main content) */

section {
    position: absolute;
    width: 768px;
    top: 78px;
    left: 0;
    border: none;
    border-radius: 10px;
    /*margin: 10px 0;*/
    background-color: #7E7E7E;
    /*background: rgb(255, 255, 255) url('../images/background_content.jpg') repeat scroll top left;*/
}

section h1 {
    padding-bottom: 0pt;
    padding-top: 0pt;
    color: #CBCBCB;
    background-color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 21px;
    margin: 15px 0;
    padding: 15px 10px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    word-wrap: break-word;
}

section h2 { /* = h1 TOCHANGE */
    padding-bottom: 0pt;
    padding-top: 0pt;
    color: #CBCBCB;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 21px;
    margin: 5px 0;
    padding: 10px 5px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    word-wrap: break-word;
}

section p {
    word-wrap: break-word; 
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin: 0;
    opacity: 1;
    padding: 10px 0;
    text-align: justify;
    text-justify: inter-word;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
}

section p.medium {
    font-size: 18px;
    line-height: 27px; /* better without units, proportionally */
    padding: 12px 0;
    text-align: justify;
    text-justify: inter-word;
}

section p.large {
    font-size: 22px;
    line-height: 33px; /* better without units, proportionally */
    padding: 14px 0;
    text-align: justify;
    text-justify: inter-word;
}

section p.quote {
    border-left: 5px solid rgb(203, 203, 203);
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 27px;
    margin: 10px 0 10px 20px;
    padding: 0 20px;
    text-align: left;
}

section a:link {
    color: white;
    text-decoration: none;
    /*text-shadow: 0 0 2px #999;*/
}

section a:visited {
    color: rgb(203, 203, 203);
}

section a:hover {
    color: #FFCC33;
    text-decoration: underline;
}

section a:focus {
}

section a:active {
}

section ol {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 19px;
    margin: 0px;
    opacity: 1;
    text-decoration: none;
    text-transform: none;
    padding: 0px;
    margin: 0px;
    text-indent: 0px;
    /*list-style-type: none;*/
    list-style-image: none;
    word-wrap: break-word;
    text-align: left;
}

section li {
    line-height: 19px;
    /* padding-left: 17px 0;*/
    text-indent: /*-17px*/ 0;
    /*list-style-type: none;*/
    list-style-image: none;
    word-wrap: break-word;
    text-align: left;
}

section li p {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 19px;
    margin: 0px;
    opacity: 1;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    /*text-indent: 0px;*/
    text-transform: none;
    text-indent: /*-17px*/ 0;
    list-style-type: none;
    list-style-image: none;
    word-wrap: break-word;
}

section dl {
    font-family: Arial, sans-serif;
}

section dl dt {
    color: #CBCBCB;
    padding-top: 10px;
}

section dl dd {
    color: white;
}

article ul {
    list-style: none;
}

.HTML_preview {
    font-family: Arial, sans-serif;
    background-color: dimgray; /* apply iWeb Darkroom color */
    border: thin solid white;
    border-radius: 10px;
    margin: 10px 0;
    opacity: 0.9;
    padding: 10px;
}

.HTML_preview:hover {
    opacity: 1.0;
}

.HTML_preview_sidebar {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: transparent; /* apply iWeb Darkroom color */
    border: thin solid white;
    border-radius: 10px;
    margin: 10px 0;
    opacity: 0.9;
    padding: 10px;
}


/* footer */

footer {
    position: absolute;
    width: 1024px;
    height: 50px;
    top: 718px;
    left: 0;
    background-color: grey;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0;
    margin: 10px 0;
}

footer p {
    word-wrap: break-word; 
    padding: 4px;
    color: #CBCBCB;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    opacity: 1;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    text-align: center;
}


/* sidebar */

aside {
    position: absolute;
    width: 256px;
    height: 518px;
    top: 150px;
    left: 769px;
    border: none;
    background-color: yellow;
    /*background-color: transparent;*/
    border-radius: 10px;
    padding: 40px 0;
    color: #C1C1C1;
}

/*aside {
    color: white;
    font-family: Arial, sans-serif;
}*/

aside h1 {
    padding-bottom: 0pt;
    padding-top: 0pt;
    color: #CBCBCB;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 21px;
    margin: 5px 0;
    padding: 10px 5px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    word-wrap: break-word;
}

aside ul.sidebar0 {
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 2.5em;
}

aside ul.sidebar1 {
    list-style: none;
    font-size: 14px;
    margin: 0 5px;
    padding: 0;
    line-height: 1.8em;
}

aside li {
}

aside a:link, a:visited {
    color: white;
	text-decoration: none;
}

aside a:hover {
    color: #FFCC33;
	text-decoration: underline;
}

aside a:focus {
}

aside a:active {
}


/* other */

.debug { /* debug */
	font-family: 'Andale Mono', 'Courier New', 'Monaco', monospace;
	font-size: 12px;
	color: yellow;
	background-color: black;
}

.descr-medium-left { /* image 377x377px */
	float: left;
    width: 377px;
    height: 377px;
    margin: 10px 10px 10px 0;
    border: solid 4px white;
    padding: 0;
}

.descr-medium-right { /* image 377x377px */
	float: right;
    width: 377px;
    height: 377px;
    margin: 10px 0 10px 10px;
    border: solid 4px white;
    padding: 0;
    overflow: auto;
}
/* Google Maps canvas */
/*
#mapCanvas {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    overflow: visible;
}
*/