/* default.css
    CSS default file
    (c) Joaquin Javier ESTEBAN MARTINEZ
    last update: 2018-01-20
*/

:root {
    
    /* color layout red */
    --rootColor: #FF000D;
    --analogousColor1: #FF6B42;
    --analogousColor2: #E84E3D;
    --analogousColor3: #E84991;
    --analogousColor4: #FF4FE6;
    
    /* color layout blue
    --rootColor: #0011FF;
    --analogousColor1: #8842FF;
    --analogousColor2: #573DE8;
    --analogousColor3: #4975E8;
    --analogousColor4: #4FA5FF; */
    
    /* color layout orange */
    --rootColor: #FF9900;
    --analogousColor1: #FFD242;
    --analogousColor2: #E8B23D;
    --analogousColor3: #E89749;
    --analogousColor4: #FF904F;
}

html {
    height: 100%;
}

body {    
    height: 100%;
    background: beige;
    margin: 0;
    padding: 0;
    
    font-family: sans-serif;
}

/* container */

#container {
    position: relative;
    width: 1024px;
    height: 768px;
    border: none;
    margin: 0 auto;
    padding: 0;
}


/* content */
/*
#content {
    position: absolute;
    width: 768px;
    height: 768px;
    left: 0px;
    top: 0;    
    background: rgb(255, 255, 255) url('../images/background_content.jpg') repeat scroll top left;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;    
}
*/

/* header */

header {
    position: absolute;
    width: 1024px;
    height: 50px;
    left: 0;
    top: 0;
    border: none;
    /* border-radius: 10px; */
    background-color: var(--analogousColor1);
    margin: 0 auto;
    padding: 0;
    
    text-align: center;
    font-family: sans-serif;
}

header h1 {
    color: beige;
    margin: 10px;
}

#login {
    position: absolute;
    width: 341px;
    top: 0;
    left: 0;
}

#title {
    position: absolute;
    width: 341px;
    top: 0;
    left: 342px;
}


/* navigation bar */

nav {
    position: absolute;
    width: 1024px;
    height: 50px;
    top: 50px;
    left: 0;
    border: none;
    /* border-radius: 10px; */
    background-color: var(--rootColor);
    margin: 0 auto;
    padding: 0;
    margin-left: 0px;
    
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 2px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px 0 10px;
}

nav a:link {color: white; text-decoration: none;}
nav a:visited {color: white; text-decoration: none;}
nav a:hover {color: white; text-decoration: underline;}

/* section (main content) */

section {
    position: absolute;
    width: 758px; /* 768 - 10 */
    height: 543px;
    top: 100px;
    left: 0;
    border: none;
    /* border-radius: 10px; */
    background-color: var(--analogousColor1);
    margin: 0 auto;
    padding: 0 10px 0 10px;
    overflow: auto;
}

section h1 {
    padding: 10px 5px 5px 5px;
    color: beige;
    background-color: var(--analogousColor3);
}

section ul {
    list-style-type: none;
    padding: 0;
}

section li {
    display: inline;
    margin: 0 10px 0 10px;
}

section a:link {color: beige; text-decoration: none;}
section a:visited {color: beige; text-decoration: none;}
section a:hover {color: beige; text-decoration: underline;}

.HTML_preview {
    font-family: Arial, sans-serif;
    background-color: var(--analogousColor2);
    border: none; /* thin solid white; */
    border-radius: 10px;
    margin: 10px 0;
    opacity: 0.9;
    padding: 10px;
}

.HTML_preview:hover {
    opacity: 1.0;
}

.HTML_preview_sidebar {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: transparent; /* apply iWeb Darkroom color */
    border: thin solid white;
    border-radius: 10px;
    margin: 10px 0;
    opacity: 0.9;
    padding: 10px;
}

/* description is the table in amor.php */
#description {
    margin: auto;
    border: #000 solid thin;  /* Para que los bordes aparezcan */
    border-collapse: separate; /* Bordes separados */
    border-spacing: 0.5em 1em; /* Separación de los bordes */
    empty-cells: show;
}

#description.td {
    vertical-align: middle;
}

/*#description.p {p class="medium" style="margin-top: 0em;"} */

/* footer */

footer {
    position: absolute;
    width: 1024px;
    height: 25px;
    top: 643px;
    left: 0;
    background-color: var(--rootColor);
    border: none;
    /* border-radius: 10px; */
    margin: 0 auto;
    padding: 0;
    
    text-align: center;
    font-family: sans-serif;
}

footer p {
    color: beige;
    margin-top: 5px;
}

/* sidebar */

aside {
    position: absolute;
    width: 246px; /* 256 - 10 */
    height: 543px;
    top: 100px;
    left: 768px;
    border: none;
    background-color: var(--analogousColor2);
    /* border-radius: 10px; */
    padding: 0;
    margin: 0 10px 0 10px;
    overflow-y: auto; overflow-x: hidden;
}

/* other */

.debug { /* debug */
	font-family: 'Andale Mono', 'Courier New', 'Monaco', monospace;
	font-size: 12px;
	color: yellow;
	background-color: black;
}

.descr-medium-left { /* image 377x377px */
	float: left;
    width: 377px;
    height: 377px;
    margin: 10px 10px 10px 0;
    border: solid 4px white;
    padding: 0;
}

.descr-medium-right { /* image 377x377px */
	float: right;
    width: 377px;
    height: 377px;
    margin: 10px 0 10px 10px;
    border: solid 4px white;
    padding: 0;
    overflow: auto;
}

.quote {
    border-left: 10px solid var(--analogousColor4);
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 27px;
    margin: 10px 0 10px 20px;
    padding: 0 20px;
    text-align: left;
}

/* Google Maps canvas */
#mapCanvas {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    padding: 0;
    /*position: absolute;*/
    /*overflow: visible;*/
}