/* default.css
    CSS default file
    (c) Joaquin Javier ESTEBAN MARTINEZ
    last update: 2018-01-20
*/

:root {
    
    /* color layout red */
    --rootColor: #FF000D;
    --analogousColor1: #FF6B42;
    --analogousColor2: #E84E3D;
    --analogousColor3: #E84991;
    --analogousColor4: #FF4FE6;
    
    /* color layout blue
    --rootColor: #0011FF;
    --analogousColor1: #8842FF;
    --analogousColor2: #573DE8;
    --analogousColor3: #4975E8;
    --analogousColor4: #4FA5FF; */
    
    /* color layout orange */
    --rootColor: #FF9900;
    --analogousColor1: #FFD242;
    --analogousColor2: #E8B23D;
    --analogousColor3: #E89749;
    --analogousColor4: #FF904F;
    
    --rootColor: #FFE1B0;
    --analogousColor1: #FFE891;
    --analogousColor2: #E8A924;
    --analogousColor3: #E88A24;
    --analogousColor4: #FFB281;
}

html {
    height: 100%;
}

body {    
    height: 100%;
    background: beige;
    margin: 0;
    padding: 0;
    
    font-family: sans-serif;
}

/* container */

#container {
    position: relative;
    width: 1024px;
    height: 768px;
    border: none;
    margin: 0 auto;
    padding: 0;
}


/* content */
/*
#content {
    position: absolute;
    width: 768px;
    height: 768px;
    left: 0px;
    top: 0;    
    background: rgb(255, 255, 255) url('../images/background_content.jpg') repeat scroll top left;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;    
}
*/

/* header */

header {
    position: absolute;
    width: 1024px;
    height: 50px;
    left: 0;
    top: 0;
    border: none;
    /* border-radius: 10px; */
    background-color: var(--analogousColor1);
    margin: 0 auto;
    padding: 0;
    
    text-align: center;
    font-family: sans-serif;
}

header h1 {
    color: beige;
    margin: 10px;
}

#login {
    position: absolute;
    width: 341px;
    top: 0;
    left: 0;
}

#title {
    position: absolute;
    width: 341px;
    top: 0;
    left: 342px;
}


/* navigation bar */

nav {
    position: absolute;
    width: 1024px;
    height: 50px;
    top: 50px;
    left: 0;
    border: none;
    /* border-radius: 10px; */
    background-color: var(--rootColor);
    margin: 0 auto;
    padding: 0;
    margin-left: 0px;
    
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 2px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px 0 10px;
}

nav a:link {color: black; text-decoration: none;}
nav a:visited {color: black; text-decoration: none;}
nav a:hover {color: black; text-decoration: underline;}

/* section (main content) */

section {
    position: absolute;
    width: 758px; /* 768 - 10 */
    height: 543px;
    top: 100px;
    left: 0;
    border: none;
    /* border-radius: 10px; */
    background-color: var(--analogousColor1);
    margin: 0 auto;
    padding: 0 10px 0 10px;
    overflow: auto;
}

.sectionTitle {
    
    margin: 0;
    padding: 10px;
    border: none;
    background-color: var(--analogousColor2);
    
}

section h1 {
    padding: 10px 5px 5px 5px;
    color: beige;
    background-color: var(--analogousColor3);
}

section ul {
    list-style-type: none;
    padding: 0;
}

section li {
    display: inline;
    margin: 0 10px 0 10px;
}

section a:link {color: black; text-decoration: none;}
section a:visited {color: black; text-decoration: none;}
section a:hover {color: black; text-decoration: underline;}

p.medium {
    
    font-size: 18px;
    line-height: 27px; /* better without units, proportionally */
    padding: 12px 0;
    text-align: justify;
    text-justify: inter-word;
    
}

p.large, p.description {
    
    font-size: 22px;
    line-height: 33px; /* better without units, proportionally */
    padding: 14px 0;
    text-align: justify;
    text-justify: inter-word;

}

p.description {
    
    text-indent: 50px;

}

.HTMLPreview {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: var(--analogousColor2);
    border: none; /* thin solid white; */
    border-radius: 10px;
    margin: 10px 0;
    opacity: 0.9;
    padding: 10px;
}

.HTMLPreview:hover {
    opacity: 1.0;
}

.favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 24px;
    background-image: url('../images/heart-small.png');
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.ampelmaenchenGruen {
    position: absolute;
    top: 10px;
    right: 35px;
    width: 25px;
    height: 25px;
    background-image: url('../images/ampelmaenchenGruen-small.png');
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.ampelmaenchenRot {
    position: absolute;
    top: 10px;
    right: 35px;
    width: 25px;
    height: 25px;
    background-image: url('../images/ampelmaenchenRot-small.png');
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.filterStrikethrough {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 25px;
    height: 24px;
    background-image: url('../images/filterStrikethrough-small.png');
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.filter {
    position: absolute;
    bottom: 10px;
    right: 35px;
    width: 25px;
    height: 25px;
    background-image: url('../images/filter-small.png');
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.HTMLAsidePreview {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--analogousColor4);
    border: none;
    border-radius: 10px;
    margin: 10px;
    opacity: 0.9;
    padding: 10px;
}

/* description is the table in amor.php */
table.amorDescription {
    
    margin: auto;
    border: #000 solid thin;  /* Para que los bordes aparezcan */
    border-collapse: collapse; /* separate Bordes separados */
    border-spacing: 0.5em 1em; /* Separación de los bordes */
    empty-cells: show;
    
    text-align: center;
    
}

.amorDescription td {
    
    padding: 4px 8px;
    
}

.amorDescription caption {

    /* style like '.medium', except text-align */
    font-size: 18px;
    line-height: 27px; /* better without units, proportionally */
    padding: 12px 0;
    text-justify: inter-word;
    text-align: center;

}

.amorDescription tbody tr:nth-child(odd) { /* headers */
    
    background-color: var(--analogousColor4);
    line-height: 14px;
    
}

.amorDescription tbody tr:nth-child(even) td { /* data */
    
    background-color: var(--rootColor);
    font-weight: bold;
    /* style like '.medium', except text-align */
    font-size: 18px;
    line-height: 27px; /* better without units, proportionally */
    padding: 12px 10px;
    text-justify: inter-word;
    text-align: center;
    
  }

/*
.amorDescription.tr {
    
    text-align: center;
    
}
*/

.amorDescription.td {
    
    vertical-align: middle;
    
}

/*#description.p {p class="medium" style="margin-top: 0em;"} */

/* Synchroton {{ */

/*#synchroton {
    align: center;
    border: #000 solid thin;
}*/

#synchroton {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 78px; /* 26 x 3 = 78 */
    padding: 0;
    border: none;
    margin: 0;
    background-color: white;
    z-index: 10;
}

#prevAmor {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    visibility: hidden;
}

#prevTempus {
    position: absolute;
    top: 26px;
    left: 0;
    height: 26px;
    visibility: hidden;
}

#prevLocus {
    position: absolute;
    top: 52px;
    left: 0;
    height: 26px;
    visibility: hidden;
}

#prevAmorTempus {
    position: absolute;
    top: 0;
    left: 0;
    height: 52px;
    visibility: hidden;
}

#prevTempusLocus {
    position: absolute;
    top: 26px;
    left: 0;
    height: 52px;
    visibility: hidden;
}

#prevAll {
    position: absolute;
    top: 0;
    left: 0;
    height: 78px;
    visibility: hidden;
}

#nextAmor {
    position: absolute;
    top: 0;
    left: 100px;
    height: 26px;
    visibility: hidden;
}

#nextTempus {
    position: absolute;
    top: 26px;
    left: 100px;
    height: 26px;
    visibility: hidden;
}

#nextLocus {
    position: absolute;
    top: 52px;
    left: 100px;
    height: 26px;
    visibility: hidden;
}

#nextAmorTempus {
    position: absolute;
    top: 0;
    left: 100px;
    height: 52px;
    visibility: hidden;
}

#nextTempusLocus {
    position: absolute;
    top: 26px;
    left: 100px;
    height: 52px;
    visibility: hidden;
}

#nextAll {
    position: absolute;
    top: 0;
    left: 100px;
    height: 78px;
    visibility: hidden;
}

.customButton {
    width: 100px;
    margin: 0;
    font-weight: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    border-bottom-color: #b3b3b3;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    margin-bottom: 0;
    display: inline-block;
    border-radius: 3px;
    padding: 2px 10px;
    font-size: 11.9px;
}

.customButton:hover {
    color: #333;
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position .1s linear;
    background-color: #e6e6e6;
    padding: 2px 10px;
    font-size: 11.9px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 0;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.customButton:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
    color: #333;
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position .1s linear;
    background-color: #e6e6e6;
    padding: 2px 10px;
    font-size: 11.9px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 0;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    margin: 0;
}

.customButtonDisabled {
    width: 100px;
    cursor: default;
    background-image: none;
    opacity: .65;
    box-shadow: none;
    color: #333;
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position .1s linear;
    background-color: #e6e6e6;
    padding: 2px 10px;
    font-size: 11.9px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 0;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    margin: 0;
}
/* }} Synchroton */
/* footer */

footer {
    position: absolute;
    width: 1024px;
    height: 25px;
    top: 643px;
    left: 0;
    background-color: var(--rootColor);
    border: none;
    /* border-radius: 10px; */
    margin: 0 auto;
    padding: 0;
    
    text-align: center;
    font-family: sans-serif;
}

footer p {
    color: darkviolet;
    margin-top: 5px;
}

/* sidebar */

aside {
    position: absolute;
    width: 246px; /* 256 - 10 */
    height: 543px;
    top: 100px;
    left: 768px;
    border: none;
    background-color: var(--analogousColor2);
    /* border-radius: 10px; */
    padding: 0;
    margin: 0 10px 0 10px;
    overflow-y: auto; overflow-x: auto/*hidden*/;
}

/* other */

.debug { /* debug */
	font-family: 'Andale Mono', 'Courier New', 'Monaco', monospace;
	font-size: 12px;
	color: yellow;
	background-color: black;
}

#sessionViewer {
    position: fixed;
    top: 200px;
    left: 10px;
    width: 1260px;
    height: 470px;
    border: thin solid black;
    background-color: var(--analogousColor1);
    overflow-y: scroll;
    z-index: 1;
}

.descr-medium-left { /* image 377x377px */
    float: left;
    width: 377px;
    height: 377px;
    margin: 10px 10px 10px 0;
    border: solid 4px white;
    padding: 0;
}

.descr-medium-right { /* image 377x377px */
	float: right;
    width: 377px;
    height: 377px;
    margin: 10px 0 10px 10px;
    border: solid 4px white;
    padding: 0;
    overflow: auto;
}

.quote {
    border-left: 10px solid var(--analogousColor4);
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 27px;
    margin: 10px 0 10px 20px;
    padding: 0 20px;
    text-align: left;
}

/* Google Maps canvas */
#mapCanvas {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    padding: 0;
    /*position: absolute;*/
    /*overflow: visible;*/
}